/* Caveat */ @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/* Inter */ @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

body {
  background-color: #121214;
}

@theme {
  --font-caveat: "Caveat", cursive;
  --font-inter: "Inter", sans-serif;
}